<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>الصفحة الرئيسية</title>
    
    <style>
        body { font-family: "Arial"; background-color: #f0f8ff; text-align: center; }
        .announcement { background-color: #fff; margin: 15px; padding: 10px; border-radius: 8px; box-shadow: 2px 2px 6px #ccc; }
    </style>
</head>
<body>
    <h1>📢 الإعلانات</h1>
    <a href="{% url 'test_list'%}">📘 عرض صفحة الاختبارات</a>
    
<h1>___________________________________________________________________</h1>
<a href="{% url 'attendance_list' %}">📋 عرض الحضور والغياب</a>

<h1>___________________________________________________________________</h1>
<a href="{% url 'payment_list' %}">💰 عرض دفعات الطلاب</a>

<h1>___________________________________________________________________</h1>


    {% for announcement in announcements %}
        <div class="announcement">
            <h3>{{ announcement.title }}</h3>
            <p>{{ announcement.content }}</p>
            <small>{{ announcement.date|date:"Y-m-d H:i" }}</small>
        </div>
    {% empty %}
        <p>لا توجد إعلانات حالياً.</p>
    {% endfor %}
</body>
</html>
